/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* body {
	padding: 0 5%;
} */
a {
	text-decoration: none;
	color: black;
}

address {
	margin-bottom: 20px;
}

footer p {
	margin: 10px 0;
}

h1 {
	font-size: 60px;
	line-height: 60px;
	padding-bottom: 5px;
}
header {
	width: 100%;
	padding: 50px 0 50px 0;
	text-align: center;
}
header a {
	margin: 0 2.5%;
	color: gray;
	position: relative;
	bottom: 10px;

}

.copyright-p {
	text-align: center;
	margin-top: 50px;
}

.logo {	
	margin-left: 25px;
}
.start-section {
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	padding-bottom: 50px;
	text-align: center;

}
.start-div {
	text-align: center;
	display: inline-block;
	position: relative;
	bottom: 50px;
	margin: 0 5%;
}
.start-button {
	border: 1px solid rgb(2, 2, 2);
	width: 150px;
	padding: 5px 20px;
	text-align: center;
	margin: 0 auto;
}

.start-img {
	height: 350px;
	margin: 0 5%;
}

.detail-section {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-bottoM: 40px;
}

.detail-div {
	display: inline-block;
	width: 425px;
	margin: 0 1.5%;
	text-align: left;
	margin-bottom: 15px;
}

.middle-img {
	height: 175px;
	width: 100%;
	margin: 35px 0;
}

.threec {
	width: 275px;
}

